Repository johndpjr/AgTern, pull requests merged in 2022-11, with the labels that each got.

#67 Update README
  README.md
  images/agtern-gui.png
  images/agtern-logo.png
Labels: documentation, open pull request

#65 Scrape all Tesla internships and integrate web scraper with FastAPI & SQLAlchemy
  .idea/runConfigurations/AgTern__Scrape_Only_.xml
  .idea/runConfigurations/AgTern__Show_Scraper_.xml
  agtern/__init__.py
  agtern/__main__.py
  agtern/common/__init__.py
  agtern/common/api.py
  agtern/common/models.py
  agtern/common/schemas.py
  agtern/gui/__init__.py
  agtern/gui/application.py
  agtern/gui/frames/home/__init__.py
  agtern/gui/frames/home/detail/card/apply_button/frame.py
  agtern/gui/frames/home/detail/card/frame.py
  agtern/gui/frames/home/detail/frame.py
  agtern/gui/frames/home/frame.py
  agtern/gui/frames/home/list/frame.py
  agtern/gui/frames/home/list/scrolled/entry/frame.py
  agtern/gui/frames/home/list/scrolled/frame.py
  agtern/gui/frames/home/search/frame.py
  agtern/gui/frames/settings/frame.py
  agtern/gui/frames/top_bar/frame.py
  agtern/server/__init__.py
  agtern/server/database/__init__.py
  agtern/server/database/crud.py
  agtern/server/database/database.py
  agtern/server/database/models.py
  agtern/server/scraping/__init__.py
  agtern/server/scraping/actions/config_parser.py
  agtern/server/scraping/actions/models.py
  agtern/server/scraping/actions/scrape_action_registry.py
  agtern/server/scraping/actions/scrape_actions.py
  agtern/server/scraping/scraper.py
  agtern/server/server.py
  agtern/server/utils/import_companies.py
  agtern/server/utils/sort_companies.py
  data/scraping_config.json
  requirements.txt
Labels: enhancement, scraping, discussion topic, open pull request

#80 Add Github action: pre-commit hooks
  .github/workflows/github-actions.yml
  .idea/AgTern.iml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/AgTern.xml
  .idea/runConfigurations/AgTern__No_Scrape_.xml
  .idea/runConfigurations/AgTern__Production_.xml
  .idea/runConfigurations/AgTern__Save_Internships_.xml
  .idea/runConfigurations/AgTern__Scrape_Only_.xml
  .idea/runConfigurations/AgTern__Show_Scraper_.xml
  .idea/runConfigurations/AgTern__Update_Companies_.xml
  .idea/vcs.xml
  agtern/__main__.py
  agtern/common/__init__.py
  agtern/common/api.py
  agtern/common/data.py
  agtern/common/models.py
  agtern/common/schemas.py
  agtern/gui/application.py
  agtern/gui/frames/home/detail/card/frame.py
  agtern/gui/frames/home/detail/frame.py
  agtern/gui/frames/home/frame.py
  agtern/gui/frames/home/list/frame.py
  agtern/gui/frames/home/search/frame.py
  agtern/server/database/__init__.py
  agtern/server/database/crud.py
  agtern/server/database/database.py
  agtern/server/database/models.py
  agtern/server/scraping/actions/__init__.py
  agtern/server/scraping/actions/config_parser.py
  agtern/server/scraping/actions/models.py
  agtern/server/scraping/actions/scrape_action_registry.py
  agtern/server/scraping/actions/scrape_actions.py
  agtern/server/scraping/scraper.py
  agtern/server/server.py
  agtern/server/utils/import_companies.py
Labels: good first issue

#78 Scrape more companies
  backend/app/models/internships.py
  backend/app/schemas/internships.py
  backend/app/scraping/actions/models.py
  backend/app/scraping/actions/scrape_actions.py
  backend/app/scraping/scraper.py
  data/scraping_config.json
Labels: scraping, data processing
